body {
  height: 10000px;
}
.content-container {
  height: 100%;
}
#p5-canvas,
#p5-canvas-iphone {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
#p5-canvas {
  display: none;
}

#p5-canvas-iphone {
  z-index: 10;
}

#hydra-canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.back-button-wrapper {
  position: fixed;
  top: 20;
  left: 0;
  z-index: 100;
  padding: 1em;

  .back-button {
    font-size: 2em;
    color: white;
    text-decoration: none;
    font-family: TerminalGrotesque, monospace;
    :hover {
      text-decoration: underline;
    }
  }
}

.extender {
  height: 10000px;
}
#play-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  .play-button {
    display: block;
    font-family: TerminalGrotesque, monospace;
    font-size: 2em;
    color: white;
    background-color: black;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid white;
  }
}

.hidden {
  display: none !important;
}
