#p5-canvas {
  display: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#hydra-canvas,
#hydra-canvas-2d {
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#start-audio {
  position: absolute;
  top: 0;
  left: 0;
}
