/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#hydra-canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #scene-modal {
    max-width: 960px;
    text-align: center;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .ticket {
    display: inline-block;

    img {
      max-width: 110px;
      margin: 0.5em;
    }
  }

  .site-title {
    font-family: EnterTheGrid;
    color: white;
    font-size: 2em;
    margin: 0.5em;
    margin-bottom: 0;
  }

  .site-description {
    padding: 0.5em 2em;
    font-family: TerminalGrotesque;
    font-size: 1em;
    color: white;
  }

  .button-link {
    display: inline-block;
    width: 30px;
    margin: 1em;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.2s linear;
}
@media (min-width: 370px) {
  .modal-wrapper {
    height: 100vh;
  }
  .ticket {
    img {
      max-width: 130px;
    }
  }
}

@media only screen and (min-width: 780px) {
  /* For desktop: */
  .modal-wrapper {
    #scene-modal {
      border-radius: 10px;
      border: 2px solid white;
    }

    .ticket {
      img {
        max-width: 300px;
      }
    }
    .site-title {
      font-size: 3em;
    }
    .site-description {
      font-size: 1.2em;
    }
    .button-link {
      width: 50px;
    }
  }
}

@media (min-width: 1024px) {
  .modal-wrapper {
    .ticket {
      max-width: 400px;
    }
    .site-title {
      font-size: 3em;
    }
  }
}

// @media (min-width: 1200px) {
// }
